<link href="/drupal/sites/default/files/css/custom/tfm_aws_main.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="/drupal/sites/default/files/js/custom/tfm_global_variables.js"></script><script src="/drupal/sites/default/files/js/custom/tfm_budgetProcesses.js"></script>
<div id="header">
<div id="headline">
<div style="background-color: #00E098; width: 20px; height: 3px; margin: 0% 0% 5% 0%;">&nbsp;</div>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td><span class="title">Benefit Netsuite calculator</span></td>
		</tr>
		<tr>
			<td>
			<p class="subtitle">Fill out this form in a few steps to know the time of implementation of Netsuite in your business</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="background-color: #00E098; width: 20px; height: 3px; margin: 5% 0% 0% 0%;">&nbsp;</div>
</div>

<div id="headlogo"><img alt="a_acevedo_verde" class="align-center" data-entity-type="file" src="/drupal/sites/default/files/inline-images/tfm_aws_a_acevedo_green.png" /></div>
</div>

<div class="grid-container x-center-content">&nbsp;
<h1>Your budget has been registered correctly.</h1>

<div class="form-card">
<table>
	<tbody>
		<tr>
			<td>
			<h2><span><strong>Name: </strong></span></h2>
			</td>
			<td>
			<h2 id="custfullname">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><span><strong>Date: </strong></span></h2>
			</td>
			<td>
			<h2 id="date">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><span><strong>Company: </strong></span></h2>
			</td>
			<td>
			<h2 id="customercompany">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><span><strong>Industry: </strong></span></h2>
			</td>
			<td>
			<h2 id="customerindustry">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><span><strong>Country: </strong></span></h2>
			</td>
			<td>
			<h2 id="customercountry">&nbsp;</h2>
			</td>
		</tr>
		<tr>
			<td>
			<h2><span><strong>Total implantation hours: </strong></span></h2>
			</td>
			<td>
			<h2 id="totalhours">&nbsp;</h2>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div style="margin: 0 auto;"><img alt="oracle logo" class="align-center" src="/drupal/sites/default/files/inline-images/tfm_aws_oracle_netsuite_logo.png" /></div>
</div>

<div style="margin: 0% auto 5% auto; text-align: center;"><button class="action-button" onclick="changeUrlToCustomer()">New Budget</button></div>
