<link href="/drupal/sites/default/files/css/custom/tfm_product.css" rel="stylesheet" />
<link href="/drupal/sites/default/files/css/custom/tfm_aws_main.css" rel="stylesheet" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="/drupal/sites/default/files/js/custom/tfm_global_variables.js"></script><script src="/drupal/sites/default/files/js/custom/tfm_productProcesses.js"></script>
<div id="header">
<div id="headline">
<div style="background-color: #00E098; width: 20px; height: 3px; margin: 0% 0% 5% 0%;">&nbsp;</div>

<table style="width: 100%;">
	<tbody>
		<tr>
			<td><span class="title">Benefit Netsuite calculator</span></td>
		</tr>
		<tr>
			<td>
			<p class="subtitle">Fill out this form in a few steps to know the time of implementation of Netsuite in your business</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="background-color: #00E098; width: 20px; height: 3px; margin: 5% 0% 0% 0%;">&nbsp;</div>
</div>

<div id="headlogo"><img alt="a_acevedo_verde" class="align-center" data-entity-type="file" src="/drupal/sites/default/files/inline-images/tfm_aws_a_acevedo_green.png" /></div>
</div>

<div class="flex-container-wrap x-center-content" id="main_content">
<div class="container" style="margin: 2%;">
<div class="card">
<header class="container light-green">
<h3 id="prodname1">&nbsp;</h3>
</header>

<div class="container">
<p id="prodid1" style="display:none;">&nbsp;</p>

<p id="prodcode1">&nbsp;</p>

<hr />
<p id="proddesc1">&nbsp;</p>
</div>
<button class="button block dark-grey" id="button_1" onclick="selectProduct('prodid1', this)" style="position: absolute; bottom: 0;">+ Add</button></div>
</div>

<div class="container" style="margin: 2%;">
<div class="card">
<header class="container light-green">
<h3 id="prodname2">&nbsp;</h3>
</header>

<div class="container">
<p id="prodid2" style="display:none;">&nbsp;</p>

<p id="prodcode2">&nbsp;</p>

<hr />
<p id="proddesc2">&nbsp;</p>
</div>
<button class="button block dark-grey" id="button_2" onclick="selectProduct('prodid2', this)" style="position: absolute; bottom: 0;">+ Add</button></div>
</div>

<div class="container" style="margin: 2%;">
<div class="card">
<header class="container light-green">
<h3 id="prodname3">&nbsp;</h3>
</header>

<div class="container">
<p id="prodid3" style="display:none;">&nbsp;</p>

<p id="prodcode3">&nbsp;</p>

<hr />
<p id="proddesc3">&nbsp;</p>
</div>
<button class="button block dark-grey" id="button_3" onclick="selectProduct('prodid3', this)" style="position: absolute; bottom: 0;">+ Add</button></div>
</div>

<div class="container" style="margin: 2%;">
<div class="card">
<header class="container light-green">
<h3 id="prodname4">&nbsp;</h3>
</header>

<div class="container">
<p id="prodid4" style="display:none;">&nbsp;</p>

<p id="prodcode4">&nbsp;</p>

<hr />
<p id="proddesc4">&nbsp;</p>
</div>
<button class="button block dark-grey" id="button_4" onclick="selectProduct('prodid4', this)" style="position: absolute; bottom: 0;">+ Add</button></div>
</div>

<div class="container" style="margin: 2%;">
<div class="card">
<header class="container light-green">
<h3 id="prodname5">&nbsp;</h3>
</header>

<div class="container">
<p id="prodid5" style="display:none;">&nbsp;</p>

<p id="prodcode5">&nbsp;</p>

<hr />
<p id="proddesc5">&nbsp;</p>
</div>
<button class="button block dark-grey" id="button_5" onclick="selectProduct('prodid5', this)" style="position: absolute; bottom: 0;">+ Add</button></div>
</div>
</div>

<hr />
<div style="margin: 0% auto 5% auto; text-align: center;"><button class="action-button" onclick="changeToBudgetUrl()">Next</button></div>
